BOT_TOKEN=
API_ID=
API_HASH=
TON_RPC=
TG_API_ID=
TG_API_HASH=
TG_SESSION_STRING=
TG_TEST_ADMIN_USERNAME=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ton_adagent
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ton_adagent
